.app_container {
  margin: "auto";
  text-align: center;
  padding: auto;
}

.app_select {
  padding: 10px;
  margin: 0px 10px;
}

.app_inputUser {
  width: 20%;
  background: "#F6F6F6";
  padding: 10px;
}

.app_button {
  padding: 10px;
  margin-left: 10px;
}

.app_margin_response_top {
  margin-top: 50px;
}

.app_response_div {
  width: 600px;
  margin: auto;
  text-align: left;
}

.app_response_pre {
  width: 700px;
  height: 300px;
  overflow: auto;
}

/* .app_div_error {
  border: 1px solid;
  width: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 70px;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
} */
